<div class="card card-profile shadow">
    <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
                <img src={{user.imgUrl}} class="rounded-circle">
            </div>
        </div>
    </div>
    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        <div *ngIf="isCreator" class="d-flex justify-content-between" id="star-div">
            <img src="../../../../assets/icons/star.icon.png" alt="">
        </div>
    </div>
    <div *ngIf="isCreator" class="second-star">
        <img src="../../../../assets/icons/star.icon.png" alt="">
    </div>

    <div class="card-body pt-0 pt-md-4">
        <div class="text-center">
            <h3>
                {{user.firstName}}<span class="font-weight-light">, {{user.age}}</span>
            </h3>
            <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{user.city}}, {{user.country}}
            </div>
            <hr class="my-4">
            <p *ngIf="isCreator" class="creator">Trip Creator</p>
        </div>
    </div>
</div>